<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<i class="bi bi-hand-thumbs-up"></i>
<i class="bi bi-hand-thumbs-down"></i>
<%= button_to root_path, class: "btn btn-primary" do %>
    <i class="bi bi-hand-thumbs-up"></i>
    Upvote
<% end %>
